@import url("https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;500;600;700;800;900;1000&family=Roboto:wght@300;400;500;700&display=swap");
@import url('https://fonts.cdnfonts.com/css/draconian-typewriter');
/* font-family: 'Draconian Typewriter', sans-serif; */

*,
/* *::before, */
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

nav ul,
nav ul li {
    outline: 0;
}

nav ul li a {
    text-decoration: none;
}

body {
    font-family: 'Draconian Typewriter', sans-serif;
    font-size: 13px;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../assets/imgs/capafaceORappa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* MENU */
main {
    display: grid;
    grid-template-columns: 13% 87%;
    width: 100%;
    margin: 40px;
    background: #FEFEFE;
    box-shadow: 0 0.5px 0 1px #FFFFFF3B inset,
        0 1px 0 0 #FFFFFFA8 inset, 0 4px 16px #0000001F;
    border-radius: 15px;
    z-index: 10;
}

.main-menu {
    overflow: hidden;
    background: #1B1A1A;
    padding-top: 10px;
}

.logo {
    display: block;
    width: 100px;
    margin: 20px auto;
}

.nav-item {
    position: relative;
    display: block;
}

.nav-item a {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 1rem;
    padding: 15px 0;
    margin-left: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-family: 'Draconian Typewriter', sans-serif;
    font-size: 13px;
}


/* -------MARCADOR DE SEÇÃO NAV------- */
.nav-item.active a {
    text-decoration: none;
    color: #000;
    background: rgb(254, 254, 254);
}

.nav-icon {
    width: 60px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

.nav-text {
    display: block;
    width: 120px;
    height: 20px;
}

/* -------Quadro Geral------- */
.content {
    display: grid;
    grid-template-columns: 75% 25%;
}

/* -------Quadro Esquerda------- */
.left-content {
    margin: 15px;
    padding: 8px;
}

/* TÍTULO "GRÁFICOS" */
.activities h1 {
    margin: 0 0 20px;
    font-size: 1.4rem;
    font-weight: 700;
}

.activity-container {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-template-rows: repeat(2, 150px);
    column-gap: 10px;
    background-color: whitesmoke;
}

/* -------KPI´s------- */
.personal-bests {
    display: block;
    margin-bottom: 10px;
}

.personal-bests-container {
    display: flex;
    flex-direction: row;
    gap: 15px;
    height: 120px;
    margin-top: 10px;
}

.best-item {
    gap: 20px;
    width: 100%;
    height: 100%;
}

/* grades KIP´s */
.content {
    grid-template-columns: 65% 35%;
}

.box-one {
    flex-direction: column;
    justify-content: space-between;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 700;
    padding: 20px;
    width: 300px;
    background-color: #1B1A1A;
}

.box-two {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    padding: 20px;
    width: 300px;
    background-color: #1B1A1A;
}

.box-three {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    font-weight: 700;
    padding: 20px;
    width: 300px;
    background-color: #1B1A1A;
}

.box-one p {
    color: whitesmoke;
}

.box-two p {
    color: whitesmoke;
}
.box-two img {
    width: 60px; 
}

.box-three p {
    color: whitesmoke;
}
.box-three img {
    width: 60px;
}


/* -------RANKING------- */
.divRanking {
    background: #F6F7FB;
    margin: 15px 15px 15px 0;
    padding: 10px 0;
}

/* -------TITULO "RANKING"------- */
.divRanking h4 {
    display: flex;
    justify-content: center;
}

/* -------COLUNAS RANKING-------  */
/* .titulosColunasRanking {
    display: flex;
    align-items: center;
    background-color: rgb(214, 227, 248);
    padding: 0 10px;
    margin: 15px 10px 0;
    box-shadow: rgba(0, 0, 0, 0.161) 0px 1px 3px;
} */

/* -------MARCADOR DE SEÇÃO NAV------- */
.chart-container {
    width: 20vw;
    height: 40vh;
    /* display: flex; */
}

.chart-container2 {
    width: 35 vw;
    height: 40vh;
    /* display: flex; */
}

/*-------ESTILIZAÇÃO DO RANKING-------*/
.tabelaRanking {
    text-align: center;
}

.tabela {
    border-collapse: collapse;
    color: #A7877A;
}

.cabecalho {
    background-color: #000;
    display: flex;
    font-weight: bold;
    margin: 20px;
    align-items: center;
}

.corpo {
    background-color: #A7877A;
}

.cabecalho-item {
    flex: 1;
    /* padding: 10px; */
    border-right: 1px solid #fa0000;
    text-align: center;
}

.linha {
    display: flex;
}

.placar {
    margin: 0;
    flex: 1;
    padding: 10px;
    border: 1px solid #A7877A;
    text-align: center;
}

.linha:hover {
    background-color: #000;
}