@import url('https://fonts.cdnfonts.com/css/draconian-typewriter');
/* font-family: 'Draconian Typewriter', sans-serif; */

body {
    font-family: 'Draconian Typewriter', sans-serif;
}

*,
/* *::before, */
*::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    user-select: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
}

nav ul,
nav ul li {
    outline: 0;
}

nav ul li a {
    text-decoration: none;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url(../assets/imgs/capafaceORappa.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

/* MAIN MENU */
main {
    display: grid;
    grid-template-columns: 13% 87%;
    width: 100%;
    margin: 40px;
    background: #FEFEFE;
    box-shadow: 0 0.5px 0 1px #FFFFFF3B inset,
        0 1px 0 0 #FFFFFFA8 inset, 0 4px 16px #0000001F;
    z-index: 10;
}


.main-menu {
    overflow: hidden;
    background: #1B1A1A;
    padding-top: 10px;
}

.logo {
    display: block;
    width: 100px;
    margin: 20px auto;
}

.nav-item {
    position: relative;
    display: block;
}

.nav-item a {
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    color: #FFF;
    font-size: 1rem;
    padding: 15px 0;
    margin-left: 5px;
    border-top-left-radius: 20px;
    border-bottom-left-radius: 20px;
    font-size: 13px;
}

/* -------MARCADOR DE SEÇÃO NAV------- */
.nav-item.active a {
    text-decoration: none;
    color: #000;
    background: #FEFEFE;
}

.nav-icon {
    width: 60px;
    height: 20px;
    font-size: 20px;
    text-align: center;
}

.nav-text {
    display: block;
    width: 120px;
    height: 20px;
}

/* CONTENT */
.content {
    display: grid;
    grid-template-columns: 75% 25%;
}

/* LEFT CONTENT */
.left-content {
    background: #1B1A1A;
    color: #FFF;
    margin: 15px;
    padding: 20px;
    border-radius: 15px;
    display: flex;
}

.left-content h1 {
    font-size: 22px;
}

.left-content h3 {
    color: #FFF;
    font-size: 15px;
    margin-bottom: 5px;
}

.left-content label {
    color: #A7877A;
    font-size: 13px;
}



.right-content {
    background-color: #A7877A;
    display: flex;
    flex-direction: column;
    /* align-items: center; */
    padding: 10%;
    gap: 19px;
}

.right-content h1 {
    color: #ffffff;
    font-size: 20px;
    text-align: center;
}

.right-content p {
    text-align: left;
}

.right-content u {
    color: #fefefebb;
    font-size: 12px;
}

.right-content b {
    color: #fefefebb;
    font-size: 10px;
}

.informacoes-album span {
    font-size: 13px;
    display: flex;
    margin-bottom: 8px;
    flex-direction: column;
}

.imagemFormulario {
    width: 50%;
    height: 400px;
    position: relative;
    left: 60px;
    top: 35px;
}

.imagemFormulario img {
    width: 100%;
}

#tituloAlbum p {
    font-size: 20px;
}


.botao button {
    margin-top: 10px;
    padding: 10px;
    width: 120px;
    color: #A7877A;
    background-color: #000;
    border: solid;
    font-family: 'Draconian Typewriter', sans-serif;
}

.botao {
    margin-left: 8rem;
}

.botao button:hover {
    color: #be9a8c;
    background-color: #ffffff1a;
    transition: all 0.7;
    cursor: pointer;
}

.contentmodal{
    background-color: #be9a8c;
    color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-top: 20rem;
}

.modal1{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:#676767a9;
}

.modal2{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:#676767a9;
}