@import url('https://fonts.cdnfonts.com/css/draconian-typewriter');
/* font-family: 'Draconian Typewriter', sans-serif; */
                                                
body {
  background-color: #000;
  overflow-x:hidden;
  font-family: 'Draconian Typewriter', sans-serif;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.logoBanda {
  display: flex;
  position: relative;
  right: 360px;
  width: 700px;
  object-fit: cover;
}

.espacamento {
  height: 60px;
}

.divFotoBanda {
  background-image: linear-gradient(rgba(0,0,0, 0.05), rgba(0,0,0)), url(../assets/banda/BandaNoMuro.JPG);
  background-repeat: no-repeat;
  background-size: cover;
  font-family: "Convergence", sans-serif; 
  font-size: 1.2rem;
  height: 716px;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-bottom: 150px;
}

.container {
  display: flex;
  width: 75%;
  margin: auto;
}

.header {
  background-color: #000000;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 10;
}

.header a {
  font-family: 'Draconian Typewriter', sans-serif;
  font-size: medium;
  text-decoration: none;
  padding: 35px;
  color: #ffffff;
}

li {
  display: flex;
  justify-content: space-evenly;
}

.header img {
  display: flex;
  position: relative;
  width: 80px;
}

.agora {
  font-weight: 800;
}

.navbar {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style: none;
  color: #e3b062;
}

.navbar a:hover {
  color: #be9a8c;
  transition: all 0.5s;
}

.header h1 {
  margin: 0;
}

/* ------------------SOBRE------------------ */

.conjunto2 {
  display: flex;
  align-items: center;
  justify-content: center;
}
  
.sobreTexto {
  display: flex;
  align-items: center;
  justify-content: center;
  max-width: 55%;
  text-align: justify;
  font-size: larger;
  flex-direction: column;
}

.sobreTexto p {
  display: flex;
  align-items:self-start;
  justify-content: center;
  color: whitesmoke;
  flex-direction: column;
  width: 50%;
  height: 52vh;
  margin-bottom: 50px;
}

.sobreTexto img {
  width: 80px;
  filter: invert();
}

.sobreTexto a{
  text-decoration: underline;
  color: #FFF;
  margin-right: 190px;
}

.divSaibaMais {
  display: flex;
  
}

.sobreFoto {
  background-size: cover;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%; 
  position: relative; 
  right: 80px;
}


/* ------------------SLIDER------------------ */
* {
  box-sizing: border-box
}

/* Slideshow container */
.sobreFoto-container {
  width: 100%;
  max-height: 100%;
  margin: auto;
}

.sobreFoto-container p {
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align:center;
  position: relative;
  top: 5px;
}

/* Hide the images by default */
.Integrantes {
  display: none;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}


/* The radios/bullets/indicators */
 .text {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  display: inline-block;
  transition: background-color 0.6s ease;
} 


/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 0.7s;
}

@keyframes fade {
  from {
      opacity: .3
  }

  to {
      opacity: 1
  }
}


/* ------------------ÁLBUNS------------------ */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --index: calc(1vw + 1vh);
  --transition: cubic-bezier(.1, .7, 0, 1);
}

.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  flex-direction: column;
  margin-top: 90px;
}

.wrapperTitle{
  display: flex;
  align-items: center;
  justify-content: center;
  color: #FFF;
  position: relative;
  bottom: 70px;
}

.NameSobre {
  font-family: 'Draconian Typewriter', sans-serif; 
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: center;
}

.items {
  display: flex;
  gap: 0.4rem;
  perspective: calc(var(--index) * 35);
}

.item {
  width: calc(var(--index) * 4);
  height: calc(var(--index) * 15);
  background-color: #222;
  background-size: cover;
  background-position: center;
  cursor: pointer;
  filter: grayscale(1) brightness(.5);
  transition: transform 1.25s var(--transition), filter 3s var(--transition), width 1.25s var(--transition);
  will-change: transform, filter, rotateY, width;
}

.item::before,
.item::after {
  content: '';
  position: absolute;
  height: 100%;
  width: 20px;
  right: calc(var(--index) * -1);
}

.item::after {
  left: calc(var(--index) * -1);
}

.items .item:hover {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 10));
} 

/*Right*/
.items .item:hover+* {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(35deg);
  z-index: -1;
}

.items .item:hover+*+* {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(40deg);
  z-index: -2;
}

.items .item:hover+*+*+* {
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(30deg);
  z-index: -3;
}

.items .item:hover+*+*+*+* {
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(15deg);
  z-index: -4;
}


/*Left*/
.items .item:has( + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 8.5)) rotateY(-95deg);
} 

.items .item:has( + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 5.6)) rotateY(-40deg);
}

.items .item:has( + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * 2.5)) rotateY(-30deg);
}

.items .item:has( + * + * + * + :hover){
  filter: inherit;
  transform: translateZ(calc(var(--index) * .6)) rotateY(-15deg);
}

.items .item:active,
.items .item:focus {
  width: 320px;
  filter: inherit;
  z-index: 100;
  transform: translateZ(calc(var(--index) * 7));
  margin: 0.45vw;
}

/* ------------------SOBRE MIM------------------ */
.sobreMim{
  display: flex;
  justify-content: center;
  align-items: center;
}

.sobreMim-texto{
  width: 60%;
  display: flex;
  justify-content: center;
  position: relative;
  top: 50px;
  padding-bottom: 200px;
}

.sobreMim p {
  text-align: justify;
  display: flex;
  align-items:self-start;
  justify-content: center;
  color: whitesmoke;
  flex-direction: column;
  width: 60%;
  height: 55vh;
}

.sobreMim-foto {
  width: 450px;
  height: 450px;
  background-image: url(../assets/img/borinMini.jpg);
  background-size: cover;
  border-radius: 60%;
  margin-bottom: 100px;
  margin-left: -70px;
}



/* ------------------FOOTER------------------ */
footer {
  background-color: #000;
  color: #FFF;
  width: 100%;
  height: 350px;
  padding: 30px;
  display: flex;
}

footer p{
  width: 375px; 
  position: relative;
  top: 10px;
}

/* Detalhes da parte esquerda do Footer */
.column1 {
  margin-left: 10px;
  width: 440px;
  border-right: solid;
  text-align: justify;
}

.column1 h2{
  display: flex;
  align-items: center;
  font-size: 27px;
}

.column1 img{
  border-radius: 100%;
  margin-right: 3px;
  height: 50px;
  width: 50px;
}

/* Detalhes da parte central do Footer */
.column2{
  display: flex;
  flex-direction: column;
  border-right: solid;
  margin-left: 20px;
  width: 302px;
}

.column2 h2{
  margin-left: 20px;
}

.column2 a{
  margin-left: 20px;
  text-decoration:none;
  color: #FFF;
  margin-bottom: 5px;
  position: relative;
  top: 20px;
}

/* Detalhes da parte direita do Footer */
.column3{
  margin-left: 10px;
  width: 440px;
  display: flex;
}

.column3 h2{
  position: relative;
  left: 10px;
  top: -19px;
}

.column3 p{
  display: flex;
  align-items: center;
  position: relative;
  left: 15px;
  width: 330px;
  top: -3px;
}

.column3 .p1{
  margin-top: 8px;
}

.column3 a{
  text-decoration:none;
  margin-left: 10px;
  color: #FFF;
}

/* Mapa do Endereço */
iframe{
  border-radius: 20px;
  margin: 10px;
}

/* Div dos ícones (facebook, instagram, twitter) */
.logos {
  position: relative;
  top: 20px;
}

.logos2 {
  position: relative;
  top: 20px;
}
/* Tamanho dos ícones (facebook, instagram, twitter) */
.logos .icone1{
  height: 34px;
  width: 34px;
}
.logos .icone2{
  height: 32px;
  width: 32px;
}
.logos .icone3{
  height: 33px;
  width: 32px;
}   


/* Ícones localização, telefone e email */
.icone5{
  height: 29px;
  width: 29px;
}
.icone6{
  height: 29px;
  width: 29px;
}
.icone7{
  height: 32px;
  width: 32px;
}

/* Animação dos ícones Footer*/
.logos .icone1:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
}
.logos .icone2:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
}
.logos .icone3:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
}
.logos .icone4:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
} 
.logos2 .icone5:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
} 
.logos2 .icone6:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
} 
.logos2 .icone7:hover {
  transform: translateY(-5px);
  transition: all 0.4s;
} 

/* Animação do menu */
.column2 a:hover{
  transform: translateX(5px);
  transition: all 0.4s;
}
