@import url('https://fonts.cdnfonts.com/css/draconian-typewriter');
/* font-family: 'Draconian Typewriter', sans-serif; */


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Draconian Typewriter', sans-serif;
    height: 100vh;
    width: 100vw;
    background-color: #000;
    color: #FFF;
    display: flex;
}

.boxQuiz {
    width: 50%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    text-align: justify;
    padding: 70px;
}

.boxQuiz #options {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* numero de colunas */
    grid-column-gap: 10px; /* espaço vazio de 10 pixels entre colunas */
    grid-row-gap: 1em; /* um espaço vazio de 1rem entre linhas */
} 

#perguntaNumero {
    margin-bottom: 10px;
}

#mensagem {
    margin-bottom: 30px;   
}

.boxQuiz button {
    font-family: 'Draconian Typewriter', sans-serif;
    margin-top: 10px;
    padding: 10px;
    width: 150px;
    color: white;
    background-color: #000;
    border: solid;
}

.restart {
    text-decoration: none;
    color: #FFF;
    margin-top: 20px;
}

#restartText {
    text-decoration: underline;
}


.midiaQuiz{
    max-width: 100%;
    height: 100%;
    overflow: hidden;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.midiaQuiz video {
    position: relative;
    object-fit: cover;
    width: 100%;
    
  }






