@import url('https://fonts.googleapis.com/css2?family=Convergence&display=swap');
@import url('https://fonts.cdnfonts.com/css/draconian-typewriter');
/* font-family: 'Draconian Typewriter', sans-serif; */

body {
    margin: 0;
    padding: 0;
    overflow: hidden;
}

/* HEADER */
.container {
    display: flex;
    width: 100%;
    margin: auto;
}

.header {
    background-color: #000000;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    z-index: 10;
}

.header a {
    font-family: 'Draconian Typewriter', sans-serif;
    font-size: medium;
    text-decoration: none;
    padding: 35px;
    color: #ffffff;
}

li {
    display: flex;
    justify-content: space-evenly;
}

.header img {
    display: flex;
    position: relative;
    width: 80px;
}

.agora {
    font-weight: 800;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
    color: #e3b062;
}

.navbar a:hover {
    color: #be9a8c;
    transition: all 0.5s;
}

.espacamento {
    height: 70px;
}

/* CONTAINER LOGIN/CADASTRO */
.alinhaConjunto {
    background-image: url(../assets/imgs/biddragon.jpg);
    background-size: cover;
    height: 100vh;
}

.nomeIdade {
    display: flex;
    width: 71%;
}

#nome_input {
    margin-top: 8px;
    margin-right: 10px;
}

#selectIdade {
    border: 2px solid #47383F;
    border-radius: 0.5rem;
    border-color: #FE5B03;
    font-family: 'Draconian Typewriter', sans-serif;
    font-size: inherit;
    color: #47383F;
    background-color: #F1A075;
    padding: 0.2rem;
}

.conjunto {
    background-color: rgba(245, 245, 245, 0.371);
    color: #47383F;
    font-family: 'Draconian Typewriter', sans-serif;
    font-size: small;
    display: flex;
    width: 30vw;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: relative;
    left: 9rem;
    top: 200px;
    border-radius: 0.5rem;
}

h2 {
    margin-bottom: 15px;
}

.form {
    position: relative;
    width: 20rem;
    height: 3rem;
    margin-bottom: 20px;
}

.form__input {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: 2px solid #47383F;
    border-radius: 0.5rem;
    border-color: #FE5B03;
    font-family: 'Draconian Typewriter', sans-serif;
    font-size: inherit;
    color: #47383F;
    background-color: #F1A075;
    outline: none;
    padding: 1.25rem;
    box-sizing: border-box;
    /* Change border when input focus*/
}

.select_idade {
    font-size: medium;
}

.form_idade {
    margin-left: 15px;
}


.form__input:hover {
    border-color: #47383F;
}

.form__input:focus {
    border-color: #FF7022;
}

.form__span {
    position: absolute;
    left: 1rem;
    top: 1rem;
    padding: 0 0.5rem;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: #F1A075;
    border-radius: 0.2rem;
}

.form__span1 {
    position: absolute;
    left: 1rem;
    top: 1.5rem;
    padding: 0 0.5rem;
    cursor: text;
    transition: top 200ms ease-in, left 200ms ease-in, font-size 200ms ease-in;
    background-color: #F1A075;
    border-radius: 0.5rem;
}

/* #confirmarSenha {
    
} */

/* 
1. Quando a input está no modo FOCUS
reduz o tamanho da label e move para cima
  
2. mantém a label parado quando o conteudo esta na input
*/

.form__input:focus~.form__span,
.form__input:not(:placeholder-shown)~.form__span {
    top: -0.3rem;
    font-size: 0.8rem;
    left: 0.8rem;
}

.form__input:focus~.form__span1,
.form__input:not(:placeholder-shown)~.form__span1 {
    top: 0rem; /* Ajuste conforme necessário para consistência visual */
    font-size: 0.8rem;
    left: 0.8rem;
}

.button {
    font-family: 'Draconian Typewriter', sans-serif;
    padding: 10px;
    /* Distancia da borda do botao para o que esta escrito nele */
    border-radius: 0.5rem;
    /* Arredonda a borda em 15px */
    font-weight: 700;
    /* Torna a grossura da fonte em bold 700 */
    background-color: #fe0303;
    color: #E1E5EE;
}

.loading-div {
    width: 50px;
    display: none;
}

.loading-div img {
    position: relative;
    right: 14px;
    width: 70px;
    bottom: 20px;
}

.contentmodal{
    background-color: #be9a8c;
    color: #ffffff;
    margin: 15% auto;
    padding: 20px;
    width: 40%;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: justify;
    margin-top: 20rem;
}

.modal1{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:#676767a9;
}

.modal2{
    display: none;
    position: fixed;
    z-index: 10;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color:#676767a9;
}