/*   color variables */
/*   border radius */
body {
  /* height: 900vh; */
  background-color: black;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


.conjunto { 
  background: url(../public/assets/PraQuemTemFe.gif);
  background-repeat: no-repeat;
  background-size: cover;
    font-family: "Convergence", sans-serif;
    font-size: 1.2rem;
    height: 210vh;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
   
}